@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video, .contact {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, .contact {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}


body {
	-webkit-text-size-adjust: none;
}


input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
}

body {
  background: #ffffff;
  overflow-x: hidden;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/* Typography */

html {font-size: 18pt;}
@media screen and (max-width: 1920px) {html {font-size: 13pt;}}
@media screen and (max-width: 1152px) {html {font-size: 14pt;}}
@media screen and (max-width: 736px) {html {font-size: 12pt;}}
@media screen and (max-width: 480px) {html {font-size: 11pt;}}

body {
  background-color: #ffffff;
  color: #00ff9f;
}

body, input, select, textarea {
  color: #4D4D4D;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.0375em;
  line-height: 2;
}

a {
  -moz-transition: border-bottom-color 0.25s ease-in-out;
  -webkit-transition: border-bottom-color 0.25s ease-in-out;
  -ms-transition: border-bottom-color 0.25s ease-in-out;
  transition: border-bottom-color 0.25s ease-in-out;
  text-decoration: none;
  color: #4D4D4D;
  /* border-bottom: dotted 1px; */
}

a:hover {
  border-bottom: dotted 1px;
}

strong, b {
  font-weight: 600;
  color: #4D4D4D;
}

p {
  margin: 0 0 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.175em;
  line-height: 1.75;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;

}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;
  color: #00ff9f;
}

h2 {
  font-size: 1.25rem;
  margin: 0 0 2rem 0;
  font-weight: 200;
}

h3 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
  margin: 0 0.5rem 3rem 0.5rem;
  text-transform: uppercase;
  color: #00ff9f;
}

h4 {
  font-size: 2rem;
  font-weight: 200;
}

h5 {
  font-size: 1.5rem;
  font-weight: 200;
}

h6 {
  font-size: 0.625rem;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 4.5rem;
    line-height: 1.1;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.7;
    /* color: #ffffff; */
  }

  h3 {font-size: 0.9rem;}
  h4 {font-size: 0.75rem;}
  h5 {font-size: 0.675rem;}
}

@media screen and (max-width: 360px) {
  h1 {font-size: 3.75rem;}
  h2 {font-size: 1.125rem;}
  h3 {font-size: 0.8rem;}
  h4 {font-size: 0.675rem;}
  h5 {font-size: 0.675rem;}
}

.contact {
  margin: 5rem;
}

/* Tabs */
.tab {
  height: 80px;
  width: 70px;
  background-color: tomato;
  right: 0;
  position: fixed;
}

.tab-down {
	width: 0;
	height: 0px;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 20px solid tomato;
  position: fixed;
}

/* Button */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		-webkit-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		-ms-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		background-color: transparent;
		border-radius: 0.325rem;
		border: 0;
		box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
		color: #4D4D4D !important;
		cursor: pointer;
		display: inline-block;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 0.6rem;
		font-weight: 600;
		height: 3rem;
		letter-spacing: 0.175em;
		line-height: 3rem;
		padding: 0 2rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			box-shadow: inset 0 0 0 2px #00ff9f;
			color: #00ff9f !important;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(73, 252, 212, 0.25);
			box-shadow: inset 0 0 0 2px #00ff9f;
			color: #00ff9f !important;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.5rem;
			height: 2.25rem;
			line-height: 2.25rem;
			padding: 0 1.25rem;
		}

		input[type="submit"].large,
		input[type="reset"].large,
		input[type="button"].large,
		button.large,
		.button.large {
			font-size: 0.7rem;
			height: 3.2625rem;
			line-height: 3.2625rem;
			padding: 0 3.25rem;
		}

		input[type="submit"].wide,
		input[type="reset"].wide,
		input[type="button"].wide,
		button.wide,
		.button.wide {
			min-width: 13rem;
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5rem;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			pointer-events: none;
			opacity: 0.25;
		}

		input[type="submit"].primary,
		input[type="reset"].primary,
		input[type="button"].primary,
		button.primary,
		.button.primary {
			background-color: #00ff9f;
			box-shadow: none;
			color: #4D4D4D !important;
		}

			input[type="submit"].primary:hover,
			input[type="reset"].primary:hover,
			input[type="button"].primary:hover,
			button.primary:hover,
			.button.primary:hover {
				background-color: #93ffe7;
			}

			input[type="submit"].primary:active,
			input[type="reset"].primary:active,
			input[type="button"].primary:active,
			button.primary:active,
			.button.primary:active {
				background-color: #44f2cb;
			}

		@media screen and (max-width: 736px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				font-size: 0.7rem;
				height: 3.3rem;
				line-height: 3.3rem;
			}

				input[type="submit"].large,
				input[type="reset"].large,
				input[type="button"].large,
				button.large,
				.button.large {
					font-size: 0.8rem;
					height: 3.75rem;
					line-height: 3.75rem;
				}

				input[type="submit"].small,
				input[type="reset"].small,
				input[type="button"].small,
				button.small,
				.button.small {
					font-size: 0.6rem;
					height: 3rem;
					line-height: 3rem;
				}

		}

/* Form */
form {
  margin: 0 0 2rem 0;
}

form > :last-child {
  margin-bottom: 0;
}

form > .fields {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -2rem 0 2rem -2rem;
  width: calc(100% + 4rem);
}

form > .fields > .field {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 2rem 0 0 2rem;
  width: calc(100% - 2rem);
}

form > .fields > .field > :last-child {
  margin-bottom: 0;
}

form > .fields > .field.half {
  width: calc(50% - 1rem);
}

form > .fields > .field.third {
  width: calc(100%/3 - 0.6666666667rem);
}

form > .fields > .field.quarter {
  width: calc(25% - 0.5rem);
}

@media screen and (max-width: 480px) {

  form > .fields {
    margin: -1.5rem 0 2rem -1.5rem;
    width: calc(100% + 3rem);
  }

  form > .fields > .field {
    padding: 1.5rem 0 0 1.5rem;
    width: calc(100% - 1.5rem);
  }

  form > .fields > .field.half {
    width: calc(100% - 1.5rem);
  }

  form > .fields > .field.third {
    width: calc(100% - 1.5rem);
  }

  form > .fields > .field.quarter {
    width: calc(100% - 1.5rem);
  }

}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0.325rem;
  border: solid 2px rgba(144, 144, 144, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="search"]:invalid,
input[type="url"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  border-color: #2ee4bb;
}

label {
  color: #4D4D4D;
  display: block;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.175em;
  line-height: 1.75;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"] {
  height: 3rem;
}



textarea {
  padding: 0.75rem 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  color: #4D4D4D;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.0375em;
  padding-left: 2.675rem;
  padding-right: 0.875rem;
  position: relative;
  text-transform: none;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  border-radius: 0.325rem;
  border: solid 2px rgba(144, 144, 144, 0.25);
  content: '';
  display: inline-block;
  height: 1.8rem;
  left: 0;
  line-height: 1.725rem;
  position: absolute;
  text-align: center;
  top: -0.15rem;
  width: 1.8rem;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  content: '\f00c';
  background-color: #00ff9f;
  border-color: #00ff9f;
  color: #ffffff;
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #00ff9f;
  box-shadow: 0 0 0 1px #00ff9f;
}

input[type="checkbox"] + label:before {
  border-radius: 0.325rem;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  opacity: 1.0;
  color: rgba(0, 0, 0, 0.25) !important;
}

:-moz-placeholder {
  opacity: 1.0;
  color: rgba(0, 0, 0, 0.25) !important;
}

::-moz-placeholder {
  opacity: 1.0;
  color: rgba(0, 0, 0, 0.25) !important;
}

:-ms-input-placeholder {
  opacity: 1.0;
  color: rgba(0, 0, 0, 0.25) !important;
}

@media screen and (max-width: 736px) {

  label {
    font-size: 0.675rem;
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 1rem;
  }

}

@media screen and (max-width: 360px) {

  label {
    font-size: 0.675rem;
  }

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    font-size: 1rem;
  }

}


/* Image */

.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
}

.image[data-position] img {
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image[data-position="top left"] img {
  -moz-object-position: top left;
  -webkit-object-position: top left;
  -ms-object-position: top left;
  object-position: top left;
}

.image[data-position="top"] img {
  -moz-object-position: top;
  -webkit-object-position: top;
  -ms-object-position: top;
  object-position: top;
}

.image[data-position="top right"] img {
  -moz-object-position: top right;
  -webkit-object-position: top right;
  -ms-object-position: top right;
  object-position: top right;
}

.image[data-position="right"] img {
  -moz-object-position: right;
  -webkit-object-position: right;
  -ms-object-position: right;
  object-position: right;
}

.image[data-position="bottom right"] img {
  -moz-object-position: bottom right;
  -webkit-object-position: bottom right;
  -ms-object-position: bottom right;
  object-position: bottom right;
}

.image[data-position="bottom"] img {
  -moz-object-position: bottom;
  -webkit-object-position: bottom;
  -ms-object-position: bottom;
  object-position: bottom;
}

.image[data-position="bottom left"] img {
  -moz-object-position: bottom left;
  -webkit-object-position: bottom left;
  -ms-object-position: bottom left;
  object-position: bottom left;
}

.image[data-position="left"] img {
  -moz-object-position: left;
  -webkit-object-position: left;
  -ms-object-position: left;
  object-position: left;
}

.image[data-position="center"] img {
  -moz-object-position: center;
  -webkit-object-position: center;
  -ms-object-position: center;
  object-position: center;
}

.image[data-position="25% 25%"] img {
  -moz-object-position: 25% 25%;
  -webkit-object-position: 25% 25%;
  -ms-object-position: 25% 25%;
  object-position: 25% 25%;
}

.image[data-position="75% 25%"] img {
  -moz-object-position: 75% 25%;
  -webkit-object-position: 75% 25%;
  -ms-object-position: 75% 25%;
  object-position: 75% 25%;
}

.image[data-position="75% 75%"] img {
  -moz-object-position: 75% 75%;
  -webkit-object-position: 75% 75%;
  -ms-object-position: 75% 75%;
  object-position: 75% 75%;
}

.image[data-position="25% 75%"] img {
  -moz-object-position: 25% 75%;
  -webkit-object-position: 25% 75%;
  -ms-object-position: 25% 75%;
  object-position: 25% 75%;
}

.image.left, .image.right {
  max-width: 40%;
}

.image.left img, .image.right img {
  width: 100%;
}

.image.left {
  float: left;
  margin: 0 2rem 2rem 0;
  top: 0.25rem;
}

.image.right {
  float: right;
  margin: 0 0 2rem 2rem;
  top: 0.25rem;
}

.image.fit {
  display: block;
  margin: 0 0 2rem 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.vertical {
  display: block;
  margin: 3rem 0;
  width: 80%;
}
.image.vertical img {
  width: 50%;
}

.image.main {
  display: block;
  margin: 3rem 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

.image.main:first-child {
  margin-top: 0;
}

.image.fill {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.image.fill img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

ul li {
  display: inline;
}


/* LAYOUT */
/* Wrapper */

#intro {
  margin: 9rem 0 11rem 0;
}

#intro > .content > h1 {
  max-width: 50rem;
}

#intro > .content > h3, #intro > .content > ul, #about > .content {
  padding-left: 0.5rem;
}

#about img {
  height: 15rem;
  border-radius: 50%
}

#wrapper, #about {
  position: relative;
  width: 100vw;
  padding: 0 0 10rem 0;
}

#wrapper section, #contact, #intro, #about {
  display: grid;
  grid-template-areas: "header content" "footer content";
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 1fr;
}

#wrapper section > header, #contact > header, #about > header {
  grid-area: header;
  justify-self: end;
  text-align: right;
}

#wrapper section > .content {
  grid-area: content;
  max-width: 60rem;
  position: relative;
}

#wrapper > section {
  position: relative;
}


/* Connector vertical  */
#wrapper > section > header:before {
  background: #00ff9f;
  content: '';
  display: block;
  margin-top: 1rem;
  position: absolute;
  width: 2px;
}

#wrapper > section > header h1, #wrapper > section > header h2 {
  position: relative;
}
/* Connector horizontal */
#wrapper > section > header h2:before {
  /* #wrapper > section > header h1:before, #wrapper > section > header h2:before { */
  background: #00ff9f;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  top: 1rem;
}
/* Connector horizontal dots */
#wrapper > section > header h2:after {
  /* #wrapper > section > header h1:after, #wrapper > section > header h2:after { */
  background: #00ff9f;
  border-radius: 0.5rem;
  content: '';
  display: block;
  height: 0.5rem;
  position: absolute;
  top: 0.75rem;
  width: 0.5rem;
}

#wrapper > section > header h1 {
  margin-top: -2rem;
}

#wrapper > section > header h1:before {
  top: 3rem;
}

#wrapper > section > header h1:after {
  top: 2.75rem;
}

#wrapper > section > .content > section {
  position: relative;
}

#wrapper > section > .content > section:first-child {
  margin-top: 6rem;
}

#wrapper > section:last-of-type > header:before {
  height: 100%;
}
/* Connector vertical dot */
#wrapper > section:last-of-type > header:after {
  background: #00ff9f;
  border-radius: 0.5rem;
  bottom: -1.5rem;
  content: '';
  display: block;
  height: 0.5rem;
  position: absolute;
  width: 0.5rem;
  z-index: 1;
}

#wrapper section {
  margin: 0 0 7.5rem 0;
}

#wrapper section > header {
  padding: 0 10rem 0 5rem;
  width: 35rem;
}

#wrapper section > .content {
  padding: 0 5rem;
}

#intro, #contact > .content, #about > .content {
  padding: 0 4rem;
}

#wrapper > section > header:before {
  height: calc(100% + 10rem);
  left: calc(50vw - 5rem);
}

#wrapper > section > header h1:before, #wrapper > section > header h2:before {
  right: -5rem;
  width: 2.5rem;
}

#wrapper > section > header h1:after, #wrapper > section > header h2:after {
  right: -2.5rem;
}

#wrapper > section > .content > section {
  left: calc(-50vw - 5rem);
}

#wrapper > section > .content > section > header {
  width: 32rem;
}

#wrapper > section.intro > header > * {
  width: 20rem;
}

#wrapper > section.intro > header:before {
  margin-left: calc(50vw - 10rem);
}

@media screen and (max-width: 1152px) {
  #wrapper > section.intro > header > * {
    width: 100%;
  }

  #wrapper > section.intro > header:before {
    margin-left: 0;
  }
}

#wrapper > section:last-of-type > header:after {
  left: calc(50vw - 5rem - 0.25rem + 1px);
}

#wrapper .copyright {
  padding: 0 5rem;
}

@media screen and (max-width: 1280px) {
  #wrapper, #about {
    padding: 0 0 8rem 0;
  }

  #wrapper section {
    margin: 0 0 6rem 0;
  }

  #wrapper section > header {
    padding: 0 8rem 0 4rem;
    width: 33rem;
  }

  #wrapper section > .content {
    padding: 0 4rem;
  }

  #wrapper > section > header:before {
    height: calc(100% + 8rem);
    left: calc(50vw - 4rem);
  }

  #wrapper > section > header h1:before, #wrapper > section > header h2:before {
    right: -4rem;
    width: 2rem;
  }

  #wrapper > section > header h1:after, #wrapper > section > header h2:after {
    right: -2rem;
  }

  #wrapper > section > .content > section {
    left: calc(-50vw - 4rem);
  }

  #wrapper > section > .content > section > header {
    width: 30rem;
  }

  #wrapper > section.intro > header > * {
    width: 21rem;
  }

  #wrapper > section.intro > header:before {
    margin-left: calc(50vw - 8rem);
  }
}

@media screen and (max-width: 1280px) and (max-width: 1152px) {
  #wrapper > section.intro > header > * {
    width: 100%;
  }

  #wrapper > section.intro > header:before {
    margin-left: 0;
  }
}

@media screen and (max-width: 1280px) {
  #wrapper > section:last-of-type > header:after {
    left: calc(50vw - 4rem - 0.25rem + 1px);
  }

  #wrapper .copyright {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1152px) {
  #wrapper {
    padding: 0;
  }

  #wrapper:before {
    display: none;
  }

  #wrapper section {
    grid-template-areas: "header" "content";
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }

  #wrapper section > header {
    justify-self: start;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  #wrapper section > header ul.actions {
    justify-content: flex-start;
  }

  #wrapper section > .content {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  #wrapper > section {
    margin: 0;
  }

  #wrapper > section > header {
    background-attachment: fixed;
    background-position: 25% 50%;
    background-repeat: repeat-y;
    background-size: 40rem auto;
  }

  #wrapper > section > header > * {
    max-width: 25rem;
  }

  #wrapper > section > header > :last-child {
    margin-bottom: 0;
  }

  #wrapper > section > header:before {
    display: none;
  }

  #wrapper > section > header h1:before, #wrapper > section > header h2:before {
    display: none;
  }

  #wrapper > section > header h1:after, #wrapper > section > header h2:after {
    display: none;
  }

  #wrapper > section > .content > :last-child {
    margin-bottom: 0;
  }

  #wrapper > section > .content > section {
    left: 0;
  }

  #wrapper > section > .content > section:first-child {
    margin-top: 0;
  }

  #wrapper > section > .content > section > header {
    width: 100%;
  }

  #wrapper > section > .content > section:last-child {
    margin-bottom: 0;
  }

  #wrapper > section.intro {
    margin-bottom: 0;
  }

  #wrapper > section.intro > header {
    margin-bottom: 0;
  }

  #wrapper > section.intro > header ul.actions {
    display: none;
  }

  #wrapper > section.intro > header > * {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  #wrapper > section.intro > header > ul.actions {
    margin-left: -1rem;
  }

  #wrapper > section.intro > header:before {
    margin-left: 0;
  }

  #wrapper > section:last-of-type > header:after {
    display: none;
  }

  #wrapper .copyright {
    left: 0;
    width: 100%;
  }

  #wrapper section {
    margin: 0 0 6rem 0;
  }

  #wrapper > section > header {
    padding: 4rem 4rem;
  }

  #wrapper > section > .content {
    padding: 4rem 4rem;
  }

  #wrapper > section > .content > section {
    margin: 4rem 0;
  }

  #wrapper > section.intro > header {
    padding: 8rem 4rem 5rem 4rem;
  }

  #wrapper .copyright {
    padding: 0 4rem 4rem 4rem;
  }
}

@media screen and (max-width: 736px) {

  #wrapper section {
    margin: 0 0 3rem 0;
  }

  #wrapper > section {
    margin: 0;
  }

  #wrapper > section > header {
    padding: 3rem 2rem;
  }

  #wrapper > section > .content {
    padding: 3rem 2rem;
  }

  #wrapper > section > .content > section {
    margin: 3rem 0;
  }

  #wrapper > section.intro > header {
    padding: 5.5rem 2rem 2.5rem 2rem;
  }

  #wrapper .copyright {
    padding: 0 2rem 2rem 2rem;
  }

}

@media screen and (max-width: 360px) {

  #wrapper section {
    margin: 0 0 2.25rem 0;
  }

  #wrapper > section {
    margin: 0;
  }

  #wrapper > section > header {
    padding: 2.25rem 1.5rem;
  }

  #wrapper > section > .content {
    padding: 2.25rem 1.5rem;
  }

  #wrapper > section > .content > section {
    margin: 2.25rem 0;
  }

  /* #wrapper > section > footer {
    padding: 0 1.5rem 2.25rem 1.5rem;
  } */

  #wrapper > section.intro > header {
    padding: 4.875rem 1.5rem 1.875rem 1.5rem;
  }

  #wrapper .copyright {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

}

body.is-mobile #wrapper:before {
  background-attachment: scroll;
  background-position: 50% -3%;
  background-repeat: repeat-y;
  background-size: 150% auto;
}

body.is-mobile #wrapper > section > header {
  background-attachment: scroll;
  background-position: 25% 50%;
}

body.is-mobile #wrapper > section.intro > header {
  background-position: 25% 23%;
}

#wrapper:before {
  transition: opacity 1s ease;
}

body.is-preload #wrapper:before {
  opacity: 0;
}

#wrapper > section.intro {
  transition: opacity 1s ease;
  opacity: 1;
}

#wrapper > section.intro > header {
  transition: transform 1s ease;
}

#wrapper > section.intro > .content {
  transition: transform 1s ease;
}

body.is-preload #wrapper > section.intro {
  opacity: 0;
}

body.is-preload #wrapper > section.intro > header {
  transform: translateY(1rem);
}

body.is-preload #wrapper > section.intro > .content {
  transform: translateY(-1rem);
}

@media screen and (max-width: 1280px) {

  #wrapper > section.intro > header > * {
    transition: transform 1s ease, opacity 1s ease;
  }

  body.is-preload #wrapper > section.intro > header {
    transform: none;
  }

  body.is-preload #wrapper > section.intro > header > * {
    transform: translate(-0.5rem);
    opacity: 0;
  }

  body.is-preload #wrapper > section.intro > .content {
    transform: none;
  }

}

body.is-ie #wrapper section {
  display: flex;
  flex-wrap: wrap;
}

body.is-ie #wrapper section > header {
  width: 50%;
}

body.is-ie #wrapper section > .content {
  width: 50%;
}

/* body.is-ie #wrapper section > footer {
  width: 50%;
  text-align: left;
  margin-left: 50%;
  padding: 5rem;
} */

body.is-ie #wrapper > section > .content > section {
  width: 100vw;
}

/* @media screen and (max-width: 1280px) {

  body.is-ie #wrapper section > footer {
    padding: 4rem;
  }

} */
